@charset "utf-8";

@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';

@font-face{
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
    
    :root{
        --cor0:#034159;
        --cor1:#025951;
        --cor2:#02735E;
        --cor3:#038C3E;
        --cor4:#7be9a2d0;
        --cor5:#05bd9be7;
        
        --fonte-padrao:arial,verdana,helvetica,sans-serif;
        --fonte-destaque:"Bebas Neue",sans-serif;
        --fonte-android: 'android', cursive;
        }
         
    *{
        min-width:320px;
        max-width:800px;
        margin:auto;
        padding:0
    }
    
    body{
        background-color:var(--cor4);
        font-family:var(--fonte-padrao)
    }
    
    a.externo::after{
        content:'\00a0\1F517'
    }
    
    header{
        background-image:linear-gradient(to bottom,var(--cor4),var(--cor1));
        min-height:150px;
        text-align:center;
        padding-top:40px
    }
    
    header > h1{
        color:#fff;
        font-family:var(--fonte-destaque);
        font-size:3em;
        font-weight:400;
        margin-bottom:20px;
        text-shadow:2px 2px 0 #000
    }
    
    header>p{
        color:#fff;
        font-family:var(--fonte-padrao);
        font-size:1.2em;
        max-width:500px;
        padding-right:10px;
        padding-left:10px;
        margin:auto;
        text-shadow:2px 2px 0 #000
    }
    
    nav{
        background-color:var(--cor1);
        padding:10px;
        box-shadow:0 7px 9px rgba(0,0,0,0.452)
    }
    
    nav > a{
        color:#fff;
        padding:10px;
        border-radius:5px;
        text-decoration:none;
        font-weight:700;
        transition-duration:.5s
    }
    
    nav > a:hover{
        background-color:var(--cor4);
        color:var(--cor1)
    }
    
    main{
        min-width:300px;
        max-width:1000px;
        margin:auto;
        margin-bottom:30px;
        padding:20px;
        background-color:#fff;
        box-shadow:0 0 10px rgba(0,0,0,0.411);
        border:10px;
        border:10px}
        
        main h1{
            color:var(--cor1);
            font-family:var(--fonte-destaque);
            font-weight:400;
            font-size:36px
        }
        
        main h2{
            font-family:var(--fonte-destaque);
            color:var(--cor2);
            font-size:1.6em;
            font-weight:400;
            background-image:linear-gradient(to right,var(--cor4),transparent);
            text-indent:8px
        }
        
        main p{
            margin:15px 0;
            text-align:justify;
            text-indent:20px;
            font-size:1em;
            line-height:2em
        }
        
        main strong{
            color:var(--cor1);
            font-weight:700
        }
        
        main a{
            text-decoration:none;
            font-weight:700;
            color:var(--cor2);
            background-color:var(--cor4);
            padding:2px 6px
        }
        
        main a:hover{
            text-decoration:underline;
            color:var(--cor0)
        }
        
        main img{
            width:100%
        }
        
        main img.pequena{
            max-width:350px;
            display:block;
            margin:auto
        }
        
        div.video{
            background-color:var(--cor4);
            margin:0 -20px 30px;
            padding:20px;
            padding-bottom:58%;
            position:relative
        }
        
        div.video > iframe{
            position:absolute;
            top:5%;
            left:5%;
            width:90%;
            height:90%
        }
        
        aside{
            background-color:var(--cor4);
            padding:10px;
            border-radius:10px;
            box-shadow:3px 3px 8px rgba(0,0,0,0.281)
        }
        
        aside h3{
            background-color:var(--cor2);
            color:#fff;
            padding:10px;
            margin:-10px -10px 0;
            border-radius:10px 10px 0 0
        }
        
        aside ul{
            list-style-position:inside;
            list-style-type:\2714\00a0;
            columns:2
        }
        
        footer{
            background-color:var(--cor3);
            color:#fff;
            text-align:center;
            font-size:15px;
            padding:5px
        }
        
        footer a{
            color:#fff;
            font-weight:bolder;
            text-decoration:none
        }
        
        footer a:hover{
            text-decoration:underline;
            color:var(--cor4)
        }